.effect3{
	overflow: hidden;
}
.effect3::before{
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	left: 350px;
	top: 70px;
	background-color: white;
	opacity: 0;
	border-radius: 50%;	
	transition: 0.5s;
}
.effect3:hover::before{
	opacity: .7;
	width: 564px;
	height: 564px;
	left: -42px;
	top: -132px;
	transition: all 0.5s cubic-bezier(.5,1.5,.9,-0.5) 0.2s, opacity 0s 0.2s;
}